#outer {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgb(255, 165, 0); /* orange */
  border: 25px solid rgb(255, 0, 0); /* red */
  display: flex;
  align-items: center;
  justify-content: center;
}

#middle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(0, 128, 0); /* green */
  border: 25px solid rgb(255, 255, 0); /* yellow */
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#inner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(128, 0, 128); /* purple */
  border: 25px solid rgb(0, 0, 255); /* blue */
  margin: 25px;
}
